.App {
  text-align: center;
  background-color: blueviolet;
  background-image: '../../Images/BlackHole_Lensing.gif';
  height: 100vh;
}

a {
  color: #f5f352;
  text-decoration: none;
}

.active{
  color: #d58bc6;
}