.App {
  text-align: center;
  background-color: blueviolet;
  background-image: url('https://apod.nasa.gov/apod/image/1904/M33Meteor_Chokshi_2000.jpg');
  background-size: cover;
  color: lightgreen;
  height: 100vh;
}

a {
  color: #f5f352;
  text-decoration: none;
}

.active{
  color: #d58bc6;
}