.App {
  text-align: center;
  background-color: blueviolet;
  background-image: url('https://apod.nasa.gov/apod/image/1904/M33Meteor_Chokshi_2000.jpg');
  background-size: cover;
  color: lightgreen;
  height: 100vh;
}

a {
  color: #f5f352;
  text-decoration: none;
}

.active{
  color: #d58bc6;
}

.error {
  margin: 0 auto;
  margin-top: 16px;
  padding: 16px;
  width: 300px;
  border: 1px solid #ff00002e;
  border-radius: 4px;
  background: #ff000036;
  color: red;
}